---

---

<form class="flex flex-col items-center justify-center pt-10">
  <textarea name="prompt" id="prompt" class="w-1/3 resize-none border border-teal-200 bg-transparent rounded-lg p-2 outline-none" rows="8" placeholder="Write your prompt here..."></textarea>
  <button type="submit" class="curf bg-teal-700 p-4 text-white mt-4 w-1/3 rounded-lg hover:brightness-[120%]">Enhance prompt</button>
</form>

<style>
  textarea {
    form-sizing: content;
  }
</style>

<script>
</script>